# Run Environment
NODE_ENV="development" # Change to "production" in deployment

# Clerk
CLERK_PUBLISHABLE_KEY="your_clerk_publishable_key"
CLERK_SECRET_KEY="your_clerk_secret_key"

# Neon Database
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://user:password@host/dbname?sslmode=require&channel_binding=require"

# Inngest
INNGEST_EVENT_KEY="your_inngest_event_key"
INNGEST_SIGNING_KEY="your_inngest_signing_key"

# SMTP Credentials
SENDER_EMAIL="your_sender_email@example.com"
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_password"
